%main.container.general-main-wrap
  = render partial: "checkout/partials/header"
  .text-center.mb-40
    %h3.general-subtitle Thank You for your Order!
    %p.fw-300= "An order confirmation has been has been sent to #{current_user.email}"
    .general-text-right
      %p.general-order-number.mb-0= "Order #{@checkout.order.number}"
      %p.general-address.mb-30= @checkout.order.compleated_at.strftime("%B %d, %Y")
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        = render partial: "checkout/partials/book", collection: @checkout.order.order_items, as: :order_item
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render "checkout/partials/total_price"
  .text-center
    = link_to("Back to Store", root_path, html_options = {class: "btn btn-default mb-20"})