%main.container.general-main-wrap
  = render partial: "checkout/partials/header"
  .row.mb-20
    = render partial: "checkout/partials/confirm/address", locals: {type: 'billing', address: @checkout.address_billing}
    = render partial: "checkout/partials/confirm/address", locals: {type: 'shipping', address: @checkout.address_shipping}
    = render partial: "checkout/partials/confirm/delivery", locals: {delivery: @checkout.current_delivery}
    = render partial: "checkout/partials/confirm/card", locals: {card: @checkout.card}
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        = render partial: "checkout/partials/book", collection: current_order.order_items, as: :order_item
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render "checkout/partials/total_price"
      -# %tr
      -#   %td
      -#     %p.font-16 Subtotal:
      -#   %td
      -#     %p.font-16= price_euro(subtotal_price_sum)
      -# %tr
      -#   %td
      -#     %p.font-16 Delivery:
      -#   %td
      -#     %p.font-16= price_euro(current_order.delivery.price)
      -# %tr
      -#   %td
      -#     %p.font-16 Coupon:
      -#   %td
      -#     %p.font-16= price_euro(subtotal_price_sum - item_total_price)
      -# %tr
      -#   %td
      -#     %strong.font-18 Order Total:
      -#   %td
      -#     %strong.font-18= price_euro(item_total_price + current_order.delivery.price)
  .text-center
    = simple_form_for @checkout.order, url: wizard_path, method: :put do |f|
      = f.button :submit, "Place order", class: "btn btn-default mb-20"