-# %form.general-form-md.divider-lg-bottom.pb-25
-#   .form-group.mb-30
-#     %label.control-label.input-label{for: "oldPassword"} Old Password
-#     %input#oldPassword.form-control{name:"password", type: "password", placeholder: "Old Password"}
-#   .form-group.mb-30
-#     %label.control-label.input-label{for: "password"} New Password
-#     %input#password.form-control{name:"password", type: "password", placeholder: "New Password"}
-#   .form-group.mb-40
-#     %label.control-label.input-label{for: "confirmPassword"} Confirm Password
-#     %input#confirmPassword.form-control{name:"password", type: "password", placeholder: "Confirm Password"}
-#   .general-text-align
-#     %button.btn.disabled.mb-10 Save

= form_for(@user, url: {action: "update_password"}, html: { class: 'general-form-md divider-lg-bottom pb-25' } )do |f|
  .form-group.mb-30
    = f.label :current_password, class: "control-label input-label"
    = f.password_field :current_password, class: "form-control"
  .form-group.mb-30
    = f.label :password, class: "control-label input-label"
    = f.password_field :password, class: "form-control"
  .form-group.mb-30
    = f.label :password_confirmation, class: "control-label input-label"
    = f.password_field :password_confirmation, class: "form-control"
  .general-text-align
    = f.submit 'Save', class: 'btn btn-default mb-10'