%main.container.general-main-wrap
  .text-center
    %h3.general-login-title=t('devise.set_new_pass')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "general-form", method: :put }) do |f|
    = f.hidden_field :reset_password_token
    .form-group.mb-30
      = f.label :password, t('devise.type_new_pass'), class: "control-label input-label"
      - if @minimum_password_length
        (#{@minimum_password_length} #{t('devise.char_min')})
      = f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t('devise.type_new_pass'), class: "form-control"
    .form-group.mb-40
      = f.label :password_confirmation, t('devise.confirm_pass'), class: "control-label input-label"
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: t('devise.confirm_pass'), class: "form-control"
    .text-center
      = f.submit t('devise.change'), class: "btn btn-default mb-20"
