%main.container
  %h1.general-title-margin=t('book_pages.catalog')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          = @soring_type
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            = link_to t('book_pages.newest_first'), params: {sort: 'created_at', direction: 'desc', soring_type: t('book_pages.newest_first'),category_id: @current_category.id}
          %li
            = link_to t('book_pages.a_z'), params: {sort: 'title', direction: 'asc', soring_type: t('book_pages.a_z'),category_id: @current_category.id}
          %li
            = link_to t('book_pages.z_a'), params: {sort: 'title', direction: 'desc', soring_type: t('book_pages.z_a'),category_id: @current_category.id}
          %li
            = link_to t('book_pages.hight_to_low'), params: {sort: 'price', direction: 'desc', soring_type: t('book_pages.hight_to_low'),category_id: @current_category.id}
          %li
            = link_to t('book_pages.low_to_hight'), params: {sort: 'price', direction: 'asc', soring_type: t('book_pages.low_to_hight'),category_id: @current_category.id}
          %li
            = link_to t('book_pages.popular'), params: { top_sort: :true, soring_type: t('book_pages.popular'),category_id: @current_category.id }
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to books_path(sort_by: params[:sort_by]), class: "filter-link #{'active' unless @current_category.id}" do
          =t('book_pages.all')
          %span.badge.general-badge= Book.count
      - @categories.each do |category|
        %li.mr-35
          = link_to books_path(category_id: "#{category.id}", sort_by: params[:sort_by]), class: "filter-link #{'active' if @current_category.id == category.id}" do
            = category.title
            %span.badge.general-badge= category.books.count
  .mb-120
    .row
      = render partial: 'book'
    #div_next_link.text-center
      = render partial: 'next_link'
 