=link_to user_facebook_omniauth_authorize_path, class: "general-login-icon", method: :post do
  %i.fa.fa-facebook-official
%p.general-login-text or
= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "general-form"}) do |f|
  -# = devise_error_messages!
  .form-group.mb-30
    = f.label :email, class: "control-label input-label"
    = f.email_field :email, placeholder: t('enter_email'), autofocus: true, autocomplete: "email", class: "form-control"
  .form-group.mb-30
    = f.label :password, class: "control-label input-label"
    = f.password_field :password, autocomplete: "current-password", class: "form-control"
    = link_to t('forgot_pass'), new_user_password_path, class: "help-block in-gold-500"
  - if defined?(devise_mapping.rememberable?)
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = f.check_box :remember_me, class: "checkbox-input", hidden: "true"
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text=t('remember_me')
  .text-center
    = f.submit t('sign_in'), class: "btn btn-default mb-20"