= f.input :first_name, placeholder: t('addresses.first_name')
= f.input :last_name, placeholder: t('addresses.last_name')
= f.input :address, placeholder: t('addresses.address')
= f.input :city, placeholder: t('addresses.city')
= f.input :zip, placeholder: t('addresses.zip')
= f.input :country, prompt: t('addresses.country')
= f.input :phone_number, placeholder: t('addresses.phone_number')
= f.submit t('addresses.save'), class: 'btn-submit btn primary'