= f.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
= f.input :order_id, label: false, input_html: { value: 1, type: 'hidden' }
= f.input :first_name, placeholder: "First name"
= f.input :last_name, placeholder: "Last name"
= f.input :address, placeholder: "Address"
= f.input :city, placeholder: "City"
= f.input :zip, placeholder: "Zip"
= f.input :country, prompt: "Select country"
= f.input :phone_number, placeholder: "Example +355 66 123 4567"
-# = f.button :submit
= f.submit "Save", class: 'btn-submit btn primary'